.container {
  @include wrapper;
}
.our-services {
  margin: 0 0 275px;
  &__title {
    @include font-popins-bold;
    font-size: 36px;
    margin-bottom: 2em;
    max-width: 607px;
  }
  &__products {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(194px, 1fr));
    column-gap: 5em;
    row-gap: 2em;
  }
  &__product-title {
    @include font-poppins-normal;
    font-weight: 500;
    color: #4d533c;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 34px;
    height: 3em;
  }
  &__product-excerpt {
    @include font-poppins-normal;
    color: rgba(33, 56, 66, 0.6);
    margin-bottom: 56px;
    height: 7em;
  }
  &__button-link {
    @include font-FontAwesome-button-link(#d4d6d4, #ffd723);
  }
}

.footer {
  position: relative;
  &__background {
    background-image: url("../image/footer_background.svg");
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  &__slogan {
    position: absolute;
    top: -18vh;
    padding: 6vh 13vw 6vh 20vw;
    // padding: 70px 489px 50px 169px;
    background-color: #fafafa;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
    &-title {
      @include font-popins-bold;
      font-size: calc(12px + 25 * (100vw / 1280));
      line-height: 1.2;
      max-width: 690px;
      padding-bottom: 0.5em;
    }
  }
  &__button-link {
    @include font-FontAwesome-button-link(#d4d6d4, #ffd723);
  }
  &__address {
    display: flex;
    justify-content: space-between;
    max-width: 452px;
    padding: 22em 0 2em;
    &-title {
      @include font-poppins-normal;
      color: #b6c197;
      font-size: 16px;
      line-height: 2.5;
    }
    &-tel-a {
      text-decoration: none;
      @include font-popins-bold;
      color: #ffffff;
      font-size: 16px;
      line-height: 2.5;
    }
    &-name {
      @include font-popins-bold;
      color: #ffffff;
      font-size: 16px;
      line-height: 2.5;
    }
  }
  &__strainght {
    border: 1px solid #5d6544;
    max-width: 1110px;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    &-items {
      max-width: 160px;
    }

    &-item {
      text-decoration: none;
      @include font-poppins-normal;
      color: #b6c197;
      font-size: 16px;
      line-height: 2.5;
      &:hover {
        color: #ffd723;
        transition: 1s;
      }
    }
  }

  &__title {
    @include font-popins-bold;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
  }

  &__strainght_ver {
    border: 1px solid #5d6544;
    max-height: 210px;
    width: 1px;
  }
  &__contact-excerpt {
    @include font-poppins-normal;
    color: #b6c197;
    margin: 23px 0;
  }
  &__contact-mail {
    @include font-popins-bold;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 1em;
  }
  &__buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    &-text {
      @include font-poppins-normal;
      color: #b5c096;
    }
  }
}
.footer__socials {
  display: flex;
  margin-top: 0.5em;
}
.footer__social {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: #444a34;
  border-radius: 50%;
  &:hover {
    background-color: #ffd723;
    transition: 0.1s;
  }
  img {
    position: absolute;
    height: 22px;
    height: 19px;
    top: 9px;
    right: 9px;
  }
}
