.container {
  @include wrapper;
}
.our-services {
  margin-bottom: 5em;
  &__title {
    @include font-popins-bold;
    font-size: calc(14px + 20 * (100vw / 1280));
    margin-bottom: 2em;

    max-width: 607px;
  }
  &__products {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (4, 1fr);
    row-gap: 2em;
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    @include for-tablet-portrait-up {
      text-align: left;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      max-width: 1110px;
      column-gap: 2em;
    }
    @include for-desktop-up {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      max-width: 100%;
    }
  }
  &__product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__product-title {
    @include font-poppins-normal;
    font-weight: 500;
    color: #4d533c;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 34px;
    padding-bottom: 1em;
    @include for-tablet-portrait-up {
      font-size: 1.2em;
    }
    @include for-desktop-up {
      padding-bottom: 1em;
    }
  }
  &__product-excerpt {
    @include font-poppins-normal;
    color: rgba(33, 56, 66, 0.6);
    padding-bottom: 1em;
    @include for-desktop-up {
      padding-bottom: 2em;
    }
  }
  &__button-link {
    @include font-FontAwesome-button-link(#d4d6d4, #ffd723);
  }
}

.footer {
  &__background {
    background-image: url("../image/footer_background.svg");
    height: 100%;
  }
  &__slogan {
    position: relative;
    padding: 1em;
    text-align: center;
    background-color: #fafafa;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
    margin-bottom: -5em;
    max-width: 1275px;
    @include for-tablet-portrait-up {
      text-align: start;
      padding: 1em 0 1em 5em;
    }
    &-title {
      @include font-popins-bold;
      font-size: calc(16px + 30 * (100vw / 1440));
      line-height: 1.2;
      max-width: 690px;
      padding-bottom: 0.5em;
    }
  }
  &__button {
    @include font-FontAwesome-button-link(#d4d6d4, #ffd723);
  }
  &__address {
    display: flex;
    justify-content: space-between;
    padding-top: 8em;
    flex-direction: column;
    align-items: center;
    @include for-tablet-portrait-up {
      flex-direction: row;
      max-width: 452px;
    }
    &-title {
      @include font-poppins-normal;
      color: #b6c197;
      font-size: 1em;
      line-height: 2.5;
      text-align: center;
      @include for-tablet-portrait-up {
        font-size: 1em;
      }
    }
    &-tel-a {
      text-decoration: none;
      @include font-popins-bold;
      color: #ffffff;
      font-size: 0.9em;
      line-height: 2.5;
      @include for-tablet-portrait-up {
        font-size: 0.9em;
      }
    }
    &-name {
      @include font-popins-bold;
      color: #ffffff;
      font-size: 16px;
      line-height: 2.5;
    }
  }
  &__strainght {
    border: 1px solid #5d6544;
    max-width: 1110px;
    margin: 2em auto;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    @include for-tablet-portrait-up {
      flex-direction: row;
    }
    &-items {
      max-width: 160px;
      margin-bottom: 1.2em;
    }

    &-item {
      text-decoration: none;
      @include font-poppins-normal;
      color: #b6c197;
      font-size: 1em;
      line-height: 2.5;
    }
  }

  &__title {
    @include font-popins-bold;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    @include for-tablet-portrait-up {
      text-align: left;
    }
  }

  &__strainght_ver {
    display: none;
    @include for-tablet-portrait-up {
      display: block;
      border: 1px solid #5d6544;
      height: 210px;
    }
  }
  &__contact-excerpt {
    @include font-poppins-normal;
    color: #b6c197;
    margin: 23px 0;
  }
  &__contact-mail {
    @include font-popins-bold;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 1em;
    text-align: center;
    @include for-tablet-portrait-up {
      text-align: left;
    }
  }
  &__buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    flex-direction: column;
    @include for-tablet-portrait-up {
      flex-direction: row;
    }
    &-text {
      @include font-poppins-normal;
      color: #b5c096;
    }
  }
}
.footer__socials {
  display: flex;
  margin-top: 0.5em;
  justify-content: center;
  @include for-tablet-portrait-up {
    justify-content: start;
  }
}
.footer__social {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: #444a34;
  border-radius: 50%;
  &:hover {
    background-color: #ffd723;
    transition: 0.1s;
  }
  img {
    position: absolute;
    max-width: 19px;
    top: 9px;
    right: 9px;
  }
}
