.our-projects {
  @include wrapper;
  &__header {
    display: flex;
    gap: 30px;
    padding-bottom: 2em;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
  h2 {
    @include font-popins-bold;
    font-size: calc(14px + 20 * (100vw / 1280));
  }
  &__comment-taxt {
    @include font-poppins-italic;
    font-size: 16px;
    line-height: 26px;
    max-width: 390px;
    padding: 30px 33px 24px 30px;
  }
  &__comment-author {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1em;
    @include for-tablet-portrait-up {
      padding-bottom: 1em;
    }
    @include for-desktop-up {
      display: flex;
    }
  }
  &__author-foto {
    padding-left: 30px;
    padding-right: 14px;
    max-width: 100%;
  }
  &__author-name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #152934;
  }

  &__excerpt {
    @include font-poppins-normal;
    color: rgba(33, 56, 66, 0.6);
    font-size: 16px;
    line-height: 26px;
  }
  &__block {
    display: flex;
    gap: 30px;
    padding-bottom: 2em;
    flex: 1 1 auto;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2em;
    }
    @media screen and (min-width: 1440px) {
      display: flex;
      justify-content: space-between;
      column-gap: 56px;
    }
  }
  &__div-img {
    display: none;
    @media screen and (min-width: 1440px) {
      max-width: 100%;
      display: block;
    }
  }
  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 2em;
    @media screen and (min-width: 768px) {
      order: 1;
      display: flex;
    }
    @media screen and (min-width: 1440px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__balenciaga-img-comment {
    @media screen and (min-width: 768px) {
      order: 2;
    }
    @media screen and (min-width: 1440px) {
      margin-left: -165px;
      order: 1;
    }
  }
  &__text-title {
    padding-bottom: 24px;
    max-width: 475px;
  }
  &__text-excerpt {
    @include font-poppins-normal;
    color: rgba(33, 56, 66, 0.6);
    font-size: 16px;
    line-height: 26px;
    max-width: 475px;
  }
  &__text-button {
    padding-top: 90px;
  }
  &__button-link {
    @include font-FontAwesome-button-link(#d4d6d4, #ffd723);
  }
  &__balenciaga-comment {
    display: none;
    @media screen and (min-width: 768px) {
      max-width: 250px;
      background: #ffffff;
      box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @include for-desktop-up {
      max-width: 453px;
      background: #ffffff;
      box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      top: -194px;
      left: 142px;
    }
  }
  &__3Dmodel-img-comment {
    @media screen and (min-width: 768px) {
      order: 2;
    }
    @media screen and (min-width: 1440px) {
      margin-right: -165px;
    }
  }
  &__3Dmodel-comment {
    margin: 0;
    display: none;
    @include for-tablet-portrait-up {
      max-width: 250px;
      background: #ffffff;
      box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @include for-desktop-up {
      max-width: 453px;
      background: #ffffff;
      box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      top: -173px;
      margin-right: 35px;
    }
  }
  &__booking-img-comment {
    @media screen and (min-width: 768px) {
      order: 2;
    }
    @media screen and (min-width: 1440px) {
      margin-left: -165px;
      order: 1;
    }
  }
  &__booking-comment {
    display: none;
    @include for-tablet-portrait-up {
      max-width: 250px;
      background: #ffffff;
      box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @include for-desktop-up {
      max-width: 453px;
      background: #ffffff;
      box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      top: -194px;
      left: 142px;
    }
  }
}

.strainght {
  border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
  margin: 50px auto;
  @media screen and (min-width: 1140px) {
    max-width: 1110px;
    margin: 150px auto;
  }
}
