.header {
  background-image: url("../image/background_pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &__container {
    height: 100%;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 616px;
    max-height: 80%;
  }

  &__text-overtitle {
    @include font-poppins-normal;
    font-size: 0.875em;
    color: #ffffff;
    padding-top: 20%;
  }

  &__text-title {
    @include font-popins-bold;
    font-size: 3.75em;
    color: #ffffff;
  }

  &__text-excerpt {
    @include font-poppins-normal;
    font-size: 1em;
    color: #ffffff;
  }

  &__button {
    @include font-FontAwesome-button-link(#d4d6d4, #ffd723);
    font-size: 1em;
  }
}

.container-right {
  display: flex;
  justify-content: end;
  height: fit-content;
  margin-top: -5%;

  &__partner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #ffffff;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px;
    width: 80%;
  }

  &__partner-logo {
    padding: 5% 1%;
  }
}

.about-us {
  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }

    height: 85h;
    padding: 5vh 0;
  }

  &__text {
    max-width: 475px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;

    @include font-poppins-normal;
  }

  &__text-overtitle {
    font-size: 0.875em;
    color: rgba(77, 83, 60, 0.9);
  }

  &__text-title {
    font-weight: 700;
    font-size: 2.25em;
    line-height: 46px;
    color: #4d533c;
  }

  &__text-excerpt {
    font-size: 1em;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
  }

  &__button-link {
    @include font-FontAwesome-button-link(#d4d6d4, #ffd723);
  }

  &__comment {
    background: #ffffff;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    max-width: 474px;

    @include font-poppins-normal;
  }

  &__comment-comment-1 {
    padding-top: 30px;
    font-style: italic;
    font-size: 1.5em;
    color: #4d533c;
  }

  &__comment-author {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
  }

  &__author-name-title {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    font-weight: bold;
    font-size: 1.5em;
    color: #4d533c;
  }

  &__name-title {
    font-size: 1em;
    color: #152934;
  }
}
