* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/font-awesome/fontawesome-webfont.eot");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: auto;
}

.our-services {
  margin: 0 0 186px;
}
.our-services__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  font-size: 36px;
  margin-bottom: 1em;
  max-width: 607px;
}
.our-services__products {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(194px, 1fr));
  column-gap: 1em;
}
.our-services__product-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 500;
  color: #4d533c;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 34px;
}
.our-services__product-excerpt {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 56px;
}
.our-services__button-link {
  position: relative;
  font-family: "FontAwesome", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: underline;
  line-height: 1.1;
  color: #d4d6d4;
  padding-left: 5px;
}
.our-services__button-link:hover {
  color: #ffd723;
}
.our-services__button-link:hover:before {
  content: url("../image/link_Triangle_hover.svg");
}
.our-services__button-link:before {
  position: absolute;
  text-align: center;
  left: -5px;
  content: url("../image/link_Triangle.svg");
}

.footer__background {
  background-image: url("../image/footer_background.svg");
  height: 100%;
}
.footer__slogan {
  background-color: #fafafa;
}
.footer__slogan-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  font-size: 60px;
  line-height: 1.2;
  max-width: 690px;
}
.footer__button-link {
  position: relative;
  font-family: "FontAwesome", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: underline;
  line-height: 1.1;
  color: #d4d6d4;
  padding-left: 5px;
}
.footer__button-link:hover {
  color: #ffd723;
}
.footer__button-link:hover:before {
  content: url("../image/link_Triangle_hover.svg");
}
.footer__button-link:before {
  position: absolute;
  text-align: center;
  left: -5px;
  content: url("../image/link_Triangle.svg");
}
.footer__address {
  display: flex;
  justify-content: space-between;
  max-width: 452px;
  margin: 310px 0 52px;
}
.footer__address-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b6c197;
  font-size: 16px;
  line-height: 2.5;
}
.footer__address-tel-a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  color: #ffffff;
  font-size: 16px;
  line-height: 2.5;
}
.footer__address-name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  color: #ffffff;
  font-size: 16px;
  line-height: 2.5;
}
.footer__strainght {
  border: 1px solid #5d6544;
  max-width: 1110px;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.footer__menu-items {
  max-width: 160px;
}
.footer__menu-item {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b6c197;
  font-size: 16px;
  line-height: 2.5;
}
.footer__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
}
.footer__strainght_ver {
  border: 1px solid #5d6544;
  max-height: 210px;
  width: 1px;
}
.footer__contact-excerpt {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b6c197;
  margin: 23px 0;
}
.footer__contact-mail {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.6;
  color: #ffffff;
  padding-bottom: 24px;
}
.footer__buttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.footer__buttom-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b5c096;
}

/*# sourceMappingURL=styles.css.map */
