* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/font-awesome/fontawesome-webfont.eot");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
.header {
  background-image: url("../image/background_pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.header__container {
  height: 100%;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.header__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 616px;
  max-height: 80%;
}
.header__text-overtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875em;
  color: #ffffff;
  padding-top: 20%;
}
.header__text-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  font-size: 3.75em;
  color: #ffffff;
}
.header__text-excerpt {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  color: #ffffff;
}
.header__button {
  position: relative;
  font-family: "FontAwesome", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: underline;
  line-height: 1.1;
  color: #d4d6d4;
  padding-left: 5px;
  font-size: 1em;
}
.header__button:hover {
  color: #ffd723;
}
.header__button:hover:before {
  content: url("../image/link_Triangle_hover.svg");
}
.header__button:before {
  position: absolute;
  text-align: center;
  left: -5px;
  content: url("../image/link_Triangle.svg");
}

.container-right {
  display: flex;
  justify-content: end;
  height: fit-content;
  margin-top: -5%;
}
.container-right__partner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #ffffff;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;
  width: 80%;
}
.container-right__partner-logo {
  padding: 5% 1%;
}

.about-us__container {
  height: 85h;
  padding: 5vh 0;
}
@media screen and (min-width: 768px) {
  .about-us__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .about-us__container {
    display: flex;
    flex-direction: column;
  }
}
.about-us__text {
  max-width: 475px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.about-us__text-overtitle {
  font-size: 0.875em;
  color: rgba(77, 83, 60, 0.9);
}
.about-us__text-title {
  font-weight: 700;
  font-size: 2.25em;
  line-height: 46px;
  color: #4d533c;
}
.about-us__text-excerpt {
  font-size: 1em;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
}
.about-us__button-link {
  position: relative;
  font-family: "FontAwesome", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: underline;
  line-height: 1.1;
  color: #d4d6d4;
  padding-left: 5px;
}
.about-us__button-link:hover {
  color: #ffd723;
}
.about-us__button-link:hover:before {
  content: url("../image/link_Triangle_hover.svg");
}
.about-us__button-link:before {
  position: absolute;
  text-align: center;
  left: -5px;
  content: url("../image/link_Triangle.svg");
}
.about-us__comment {
  background: #ffffff;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  max-width: 474px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.about-us__comment-comment-1 {
  padding-top: 30px;
  font-style: italic;
  font-size: 1.5em;
  color: #4d533c;
}
.about-us__comment-author {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}
.about-us__author-name-title {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-us__name {
  font-weight: bold;
  font-size: 1.5em;
  color: #4d533c;
}
.about-us__name-title {
  font-size: 1em;
  color: #152934;
}

.our-projects {
  max-width: 1110px;
  padding: 0 15px;
  margin: auto;
}
.our-projects__header {
  display: flex;
  gap: 30px;
  padding-bottom: 2em;
}
@media screen and (min-width: 768px) {
  .our-projects__header {
    display: flex;
    justify-content: space-between;
  }
}
.our-projects h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  font-size: calc(14px + 1.5625vw);
}
.our-projects__comment-taxt {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #4d533c;
  font-size: 16px;
  line-height: 26px;
  max-width: 390px;
  padding: 30px 33px 24px 30px;
}
.our-projects__comment-author {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .our-projects__comment-author {
    padding-bottom: 1em;
  }
}
@media screen and (min-width: 1440px) {
  .our-projects__comment-author {
    display: flex;
  }
}
.our-projects__author-foto {
  padding-left: 30px;
  padding-right: 14px;
  max-width: 100%;
}
.our-projects__author-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #152934;
}
.our-projects__excerpt {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(33, 56, 66, 0.6);
  font-size: 16px;
  line-height: 26px;
}
.our-projects__block {
  display: flex;
  gap: 30px;
  padding-bottom: 2em;
  flex: 1 1 auto;
}
@media screen and (min-width: 768px) {
  .our-projects__block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
  }
}
@media screen and (min-width: 1440px) {
  .our-projects__block {
    display: flex;
    justify-content: space-between;
    column-gap: 56px;
  }
}
.our-projects__div-img {
  display: none;
}
@media screen and (min-width: 1440px) {
  .our-projects__div-img {
    max-width: 100%;
    display: block;
  }
}
.our-projects__text-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 2em;
}
@media screen and (min-width: 768px) {
  .our-projects__text-block {
    order: 1;
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .our-projects__text-block {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .our-projects__balenciaga-img-comment {
    order: 2;
  }
}
@media screen and (min-width: 1440px) {
  .our-projects__balenciaga-img-comment {
    margin-left: -165px;
    order: 1;
  }
}
.our-projects__text-title {
  padding-bottom: 24px;
  max-width: 475px;
}
.our-projects__text-excerpt {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(33, 56, 66, 0.6);
  font-size: 16px;
  line-height: 26px;
  max-width: 475px;
}
.our-projects__text-button {
  padding-top: 90px;
}
.our-projects__button-link {
  position: relative;
  font-family: "FontAwesome", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: underline;
  line-height: 1.1;
  color: #d4d6d4;
  padding-left: 5px;
}
.our-projects__button-link:hover {
  color: #ffd723;
}
.our-projects__button-link:hover:before {
  content: url("../image/link_Triangle_hover.svg");
}
.our-projects__button-link:before {
  position: absolute;
  text-align: center;
  left: -5px;
  content: url("../image/link_Triangle.svg");
}
.our-projects__balenciaga-comment {
  display: none;
}
@media screen and (min-width: 768px) {
  .our-projects__balenciaga-comment {
    max-width: 250px;
    background: #ffffff;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .our-projects__balenciaga-comment {
    max-width: 453px;
    background: #ffffff;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -194px;
    left: 142px;
  }
}
@media screen and (min-width: 768px) {
  .our-projects__3Dmodel-img-comment {
    order: 2;
  }
}
@media screen and (min-width: 1440px) {
  .our-projects__3Dmodel-img-comment {
    margin-right: -165px;
  }
}
.our-projects__3Dmodel-comment {
  margin: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .our-projects__3Dmodel-comment {
    max-width: 250px;
    background: #ffffff;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .our-projects__3Dmodel-comment {
    max-width: 453px;
    background: #ffffff;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -173px;
    margin-right: 35px;
  }
}
@media screen and (min-width: 768px) {
  .our-projects__booking-img-comment {
    order: 2;
  }
}
@media screen and (min-width: 1440px) {
  .our-projects__booking-img-comment {
    margin-left: -165px;
    order: 1;
  }
}
.our-projects__booking-comment {
  display: none;
}
@media screen and (min-width: 768px) {
  .our-projects__booking-comment {
    max-width: 250px;
    background: #ffffff;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .our-projects__booking-comment {
    max-width: 453px;
    background: #ffffff;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -194px;
    left: 142px;
  }
}

.strainght {
  border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
  margin: 50px auto;
}
@media screen and (min-width: 1140px) {
  .strainght {
    max-width: 1110px;
    margin: 150px auto;
  }
}

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: auto;
}

.our-services {
  margin-bottom: 5em;
}
.our-services__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  font-size: calc(14px + 1.5625vw);
  margin-bottom: 2em;
  max-width: 607px;
}
.our-services__products {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 4, 1fr;
  row-gap: 2em;
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}
@media screen and (min-width: 768px) {
  .our-services__products {
    text-align: left;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    max-width: 1110px;
    column-gap: 2em;
  }
}
@media screen and (min-width: 1440px) {
  .our-services__products {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    max-width: 100%;
  }
}
.our-services__product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-services__product-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 500;
  color: #4d533c;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 34px;
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .our-services__product-title {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1440px) {
  .our-services__product-title {
    padding-bottom: 1em;
  }
}
.our-services__product-excerpt {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(33, 56, 66, 0.6);
  padding-bottom: 1em;
}
@media screen and (min-width: 1440px) {
  .our-services__product-excerpt {
    padding-bottom: 2em;
  }
}
.our-services__button-link {
  position: relative;
  font-family: "FontAwesome", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: underline;
  line-height: 1.1;
  color: #d4d6d4;
  padding-left: 5px;
}
.our-services__button-link:hover {
  color: #ffd723;
}
.our-services__button-link:hover:before {
  content: url("../image/link_Triangle_hover.svg");
}
.our-services__button-link:before {
  position: absolute;
  text-align: center;
  left: -5px;
  content: url("../image/link_Triangle.svg");
}

.footer__background {
  background-image: url("../image/footer_background.svg");
  height: 100%;
}
.footer__slogan {
  position: relative;
  padding: 1em;
  text-align: center;
  background-color: #fafafa;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  margin-bottom: -5em;
  max-width: 1275px;
}
@media screen and (min-width: 768px) {
  .footer__slogan {
    text-align: start;
    padding: 1em 0 1em 5em;
  }
}
.footer__slogan-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  font-size: calc(16px + 2.0833333333vw);
  line-height: 1.2;
  max-width: 690px;
  padding-bottom: 0.5em;
}
.footer__button {
  position: relative;
  font-family: "FontAwesome", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: underline;
  line-height: 1.1;
  color: #d4d6d4;
  padding-left: 5px;
}
.footer__button:hover {
  color: #ffd723;
}
.footer__button:hover:before {
  content: url("../image/link_Triangle_hover.svg");
}
.footer__button:before {
  position: absolute;
  text-align: center;
  left: -5px;
  content: url("../image/link_Triangle.svg");
}
.footer__address {
  display: flex;
  justify-content: space-between;
  padding-top: 8em;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__address {
    flex-direction: row;
    max-width: 452px;
  }
}
.footer__address-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b6c197;
  font-size: 1em;
  line-height: 2.5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__address-title {
    font-size: 1em;
  }
}
.footer__address-tel-a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  color: #ffffff;
  font-size: 0.9em;
  line-height: 2.5;
}
@media screen and (min-width: 768px) {
  .footer__address-tel-a {
    font-size: 0.9em;
  }
}
.footer__address-name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  color: #ffffff;
  font-size: 16px;
  line-height: 2.5;
}
.footer__strainght {
  border: 1px solid #5d6544;
  max-width: 1110px;
  margin: 2em auto;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__menu {
    flex-direction: row;
  }
}
.footer__menu-items {
  max-width: 160px;
  margin-bottom: 1.2em;
}
.footer__menu-item {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b6c197;
  font-size: 1em;
  line-height: 2.5;
}
.footer__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__title {
    text-align: left;
  }
}
.footer__strainght_ver {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__strainght_ver {
    display: block;
    border: 1px solid #5d6544;
    height: 210px;
  }
}
.footer__contact-excerpt {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b6c197;
  margin: 23px 0;
}
.footer__contact-mail {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4d533c;
  text-decoration: none;
  font-size: 1em;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 1em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__contact-mail {
    text-align: left;
  }
}
.footer__buttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__buttom {
    flex-direction: row;
  }
}
.footer__buttom-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b5c096;
}

.footer__socials {
  display: flex;
  margin-top: 0.5em;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    justify-content: start;
  }
}

.footer__social {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: #444a34;
  border-radius: 50%;
}
.footer__social:hover {
  background-color: #ffd723;
  transition: 0.1s;
}
.footer__social img {
  position: absolute;
  max-width: 19px;
  top: 9px;
  right: 9px;
}

/*# sourceMappingURL=styles.css.map */
